/*
    CS498 STK Final Project
    Note.bk
    
    Adam Blackburn :: blackbu3
    Kashev Dalmia  :: dalmia3
    Matt Vanek     :: vanek1
    
    main.css
*/


/* The background is on every page, in index.html */
.bg {
    background-image:url('/static/images/grid-bg.jpg');
    position: fixed;
    z-index: -1;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0;
    opacity: .5;
}

/*
 * Rendered Markdown Styles
 */
.note-snippet h1 {
    font-size:1.3em;
    font-weight:700;
}
.note-snippet h2 {
    font-size:1.2em;
    font-weight:600;
}
.note-snippet h3 {
    font-size:1.1em;
    font-weight:500;
}
.note-snippet p {
}
.note-snippet ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
.note-snippet ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
.note-snippet ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
.note-snippet ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

/* 
 * Header and Footer 
 */
.top-buttons{
    background-color: rgba(0, 0, 0, 0.80);
}
.top-buttons hr {
    height:3px;

    margin:0px;
    border:none;

    color:rgba(255, 0, 0, 1);
    background-color:rgba(255, 0, 0, 1);
}
#header {
    text-align: center;

    color: rgba(50, 50, 50, 1);

    font-family: Raleway, sans-serif;
    font-size:5em;
    font-weight:600;
}
#header span.red {
    color: rgba(255, 0, 0, 1);
}

.center-column {
    max-width: 70%;
    margin: 0 auto;
}

.blurb {
    text-align: center;
    /*max-width: 70%;*/
    font-size: 3em;
    font-family: Raleway, sans-serif;
}

#login {
    font-size: 42px;
}

#footer {
    clear: both;
}

/* **NEW** */
.top-buttons {
    position: fixed;
    top: 0px; left: 0px; right: 0px;
}
.main {
    position:absolute;
    margin-top: 2em;
    top: 0px; left: 0px; right: 0px; bottom:0px;

    overflow: auto;
}
#note-app .main.searchClicked, #note-editor .main {
    margin-top: 5em;
}
.top-buttons {
    z-index: 75;
}


/* 
 * note-app
 */

/* Note preview */
.note-name {
    padding: 5px;
    margin-bottom: 5px;

    background-color: rgba(255, 0, 0, 0.60);
    color: rgba(255, 255, 255, 1);

    text-align: center;

    font-family: Raleway, sans-serif;
    font-size:1.3em;
    font-weight:700;
}
.note-snippet {
    font-family: monospace;
    font-size: 14px;
    padding: 5px;
}
.note {
    float: left;

    width: 293px;

    margin-left: 5px;
    margin-bottom: 5px;

    background-color: rgba(0, 0, 0, 0.80);
    color: rgba(225, 225, 225, 1.00);

    word-wrap: break-word;

    cursor: pointer;
}
.note:hover {
    background-color: rgba(0, 0, 0, 0.60);
}


/* 
 * note-editor 
 */

/* Title Bar */
#title-box {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Container should fill full height */
#editorcontainer, #epiceditor {
    height:100%;
    overflow:hidden;
}
#editorcontainer {
}


/*
 * Global stuff
 */

/* Action buttons */
.button {
    display: inline-block;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: rgba(255, 0, 0, 0.60);
    color: rgba(255, 255, 255, 1);

    text-align:center;
    font-family: Raleway, sans-serif;
    font-size:1.5em;
    font-weight:700;

    cursor: pointer;
}
.button:hover {
    background-color: rgba(150, 150, 150, 1);
    background-color: rgba(255, 0, 0, 0.90);
}
.top-buttons .button {
    width: 50%;
}
.top-buttons #newnote, #searchtoggle, #done, #delete-note{
    width: 45%;
}
.top-buttons #logout, #email{
    width: 10%;
}


/* Text inputs */
input:focus {
    outline: none;
}


/* Search Bar */
#searchbox div {
    padding-right: 10px;

    overflow: hidden;
}
#searchbox #search {
    width: 100%;

    font-size: 1.5em;
    line-height: 1em;
}
#searchbox #submit {
    float: right;

    border: 0;

    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.70);

    font-family: Raleway, sans-serif;
    font-weight:700;
    font-size:1.5em;
    line-height: 1em;

    cursor: pointer;
}
#searchbox #submit:hover {
    color: rgba(255, 255, 255, 1);
}


/* Email Entry */
#email-box {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 4em;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);;
    z-index: 100;
    margin:0 auto;
}

#email-entry {
    top: -2em;
    width: 70%;
    margin: 0 auto;
}

#email-buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#email-buttons .button {
    width: 50%;
    bottom: 0;
}

.bot {
    font-size: 0.5em;
    position: fixed;
    bottom: 2px;
    left: 0; right: 0;
    width: 100%;
    margin-left: auto;
    text-align: center;
    font-style: italic;
}